* {
    box-sizing: border-box;
    /* transition: all ease-out 200ms; */
}

body {
    max-width: 1920px;
    margin: 0;
    background-color: rgb(240, 240, 240);
    width: 100%;
}

header {
    width: 100%;
    max-width: 1920px;
    background-color: white;
    top: 0;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    z-index: 7;
    margin-top: 0;
}

header .logo img {
    padding-left: 25px;
    padding-top: 10px;
    height: 180px;
}

header .right div {
    text-align: right;
    padding-right: 4%;
    text-transform: uppercase;
}

.contact {
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.contact a img {
    position: relative;
    top: 7px;
    width: 40px;
    padding-left: 10px;
}

.topnav {
    display: none;
}

.nav {
    margin-top: 75px;
    font-family: "Noto Sans", sans-serif;
    font-size: 30px;
    font-weight: 500;
}

.nav a {
    text-decoration: none;
    color: black;
    width: 167px;
    padding-left: 50px;
}

main {
    width: 100%;
}

.banner {
    position: relative;
}

.banner-img {
    background-image: url("../img/banner.png");
    background-position: center;
    background-size: cover;
    height: 800px;
}

.title {
    padding: 345px 50px 325px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(12px);
    position: absolute;
    top: -5.2%;
    right: 15%;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-size: 64px;
    font-weight: 500;
}

.content {
    margin-top: 90px;
    display: grid;
    grid-gap: 100px;
    grid-template-columns: 3fr 2fr;
}

.info-med {
    text-align: left;
    padding-left: 35%;
    border-right: 3px rgba(128, 128, 128, 0.753) solid;
    padding-right: 40px;
}

.right-content {
    padding-right: 40%;
}

.info-med h2 {
    text-align: left;
    font-family: "Josefin sans", sans-serif;
    color: #5061a8;
    font-size: 40px;
    font-weight: 400;
}

.right-content h2 {
    text-align: left;
    font-family: "Josefin sans", sans-serif;
    color: #5061a8;
    font-size: 35px;
    letter-spacing: -1px;
    font-weight: 600;
}

span {
    font-weight: 700;
}

.info-med p {
    width: 90%;
    font-family: "Noto sans", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.right-content p {
    width: 90%;
    font-family: "Noto sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.testi {
    margin-top: 90px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.dr img {
    width: 720px;
    padding-left: 180px;
    position: relative;
    top: 30px;
}

.dr figcaption {
    padding-left: 180px;
    position: relative;
    top: 30px;
    text-align: center;
    font-family: "Noto sans", sans-serif;
    font-size: 18px;
}

.testi-text h2 {
    text-align: center;
    font-family: "Josefin sans", sans-serif;
    color: #5061a8;
    font-size: 40px;
    font-weight: 400;
    /* padding-left: 290px; */
}

.testi-text button {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

.no-box {
    width: 100%;
    font-family: "Noto sans", sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin: auto;
}

.testi-text button:hover {
    font-size: 40px;
}

.previous {
    background-color: rgb(240, 240, 240);
    color: black;
    border: 0px;
    font-size: 30px;
}

.next {
    background-color: rgb(240, 240, 240);
    color: black;
    border: 0px;
    font-size: 30px;
}

.round {
    border-radius: 50%;
}

.testi-box {
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
    height: 300px;
}

.middle {
    margin-top: 100px;
    background-color: #D9DCEC;
    padding: 85px 85px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 70px;
    text-align: center;
    box-sizing: border-box;
}

.middle2 {
    margin-top: 50px;
    background-color: #D9DCEC;
    padding: 80px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    text-align: center;
    box-sizing: border-box;
}

.qualify {
    background-color: rgb(240, 240, 240);
    padding: 50px 20px;
    text-decoration: none;
}

.aboutB {
    background-color: rgb(240, 240, 240);
    padding: 50px 20px;
    text-decoration: none;
}

.aboutB2 {
    background-color: rgb(240, 240, 240);
    padding: 50px 20px;
    text-decoration: none;
}

.servicesB {
    background-color: rgb(240, 240, 240);
    padding: 50px 20px;
    text-decoration: none;
}

.findUs {
    background-color: rgb(240, 240, 240);
    padding: 50px 20px;
    text-decoration: none;
}

.qualify p {
    color: black;
    font-family: "Noto sans", sans-serif;
    font-size: 18px;
    position: relative;
    top: 40px;
}

.aboutB p {
    color: black;
    font-family: "Noto sans", sans-serif;
    font-size: 18px;
    position: relative;
    top: 15px;
}

.aboutB2 p {
    color: black;
    font-family: "Noto sans", sans-serif;
    font-size: 18px;
    position: relative;
    top: 58px;
}

.servicesB p {
    color: black;
    font-family: "Noto sans", sans-serif;
    font-size: 18px;
    position: relative;
    top: 43px;
}

.findUs p {
    color: black;
    font-family: "Noto sans", sans-serif;
    font-size: 18px;
    position: relative;
    top: 28px;
}

.qualify hr {
    color: rgba(128, 128, 128, 0.753);
    border-top: rgba(128, 128, 128, 0.753) solid 2px;
    position: relative;
    top: 40px;
}

.aboutB hr {
    color: rgba(128, 128, 128, 0.753);
    border-top: rgba(128, 128, 128, 0.753) solid 2px;
    position: relative;
    top: 15px;
}

.aboutB2 hr {
    color: rgba(128, 128, 128, 0.753);
    border-top: rgba(128, 128, 128, 0.753) solid 2px;
    position: relative;
    top: 58px;
}

.servicesB hr {
    color: rgba(128, 128, 128, 0.753);
    border-top: rgba(128, 128, 128, 0.753) solid 2px;
    position: relative;
    top: 43px;
}

.findUs hr {
    color: rgba(128, 128, 128, 0.753);
    border-top: rgba(128, 128, 128, 0.753) solid 2px;
    position: relative;
    top: 28px;
}

.details {
    margin-top: 120px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
}

.maps {
    width: 80%;
    height: 500px;
    margin-right: 0;
    margin-left: 15%;
}

.contact-body h1 {
    color: #5061a8;
    font-family: "Josefin Sans", sans-serif;
    font-size: 55px;
    font-weight: 600;
    text-transform: uppercase;
}

.contact-body p {
    font-family: "Noto Sans", sans-serif;
    font-size: 34px;
    font-weight: 400;
}

footer {
    background-color: rgb(192, 198, 224);
    color: #181b30;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: 500;
    position: absolute;
    max-width: 1920px;
    width: 100%;
}

.info {
    padding-top: 30px;
    padding-left: 15px;
    display: grid;
    grid-template-columns: 1fr 10fr 10fr;
    text-transform: uppercase;
}

.info a img {
    width: 70px;
    position: relative;
    top: 15px;
    padding-right: 10px;
}

.copyright {
    text-align: right;
    padding: 40px 15px 15px 0;
    font-size: 18px;
}

.mobOnly {
    display: none;
}

.footNav {
    width: 90%;
    margin: auto;
    padding-top: 30px;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.footTitle {
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
}

.footContent {
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
}


/* About Us page css here */

.about-title {
    display: grid;
    grid-template-columns: 7fr 8fr;
}

.about-title img {
    width: 100%;
}

.about-title h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 160px;
    font-weight: 700;
    text-align: left;
    margin: 0 0 0 70px;
    padding-top: 70px;
    padding-left: 40px;
    line-height: 1.35;
}

.about-info {
    width: 80%;
    margin: 80px auto;
    font-family: "Noto Sans", sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.about-info h2 {
    text-align: center;
    color: #5061a8;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 60px;
}


/* Services page css here */

.services-title p {
    font-family: "Josefin Sans", sans-serif;
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

#il-residents {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 50px;
    font-size: 24px;
    font-weight: 400;
    font-family: "Noto Sans", sans-serif;
}

.mid1 {
    padding-left: 140px;
}

.mid2 {
    padding-left: 140px;
}

#il-residents h2 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    color: #181b30;
}

.list-ill {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#io-residents {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 50px;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 400;
    font-family: "Noto Sans", sans-serif;
}

#io-residents h2 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    color: #181b30;
}

.list-ill1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#terminal {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 50px;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 400;
    font-family: "Noto Sans", sans-serif;
}

#terminal h2 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    color: #181b30;
}

.term {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
    text-align: center;
}

.term p {
    width: 90%;
}

#minors {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 50px;
    padding-bottom: 90px;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 400;
    font-family: "Noto Sans", sans-serif;
}

#minors h2 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    color: #181b30;
}


/* Schedule page css goes here */


/*  */


/*  */

.schedule-main {
    padding: 50px;
    margin-top: 55px;
    padding-bottom: 55px;
}

.tab1 {
    margin: auto;
    width: 70%;
    font-family: "Noto sans", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    height: 100px;
}

.schedule-table2 {
    margin-top: 120px;
}

.head {
    font-family: "Josefin Sans", sans-serif;
    font-size: 26px;
    font-weight: 800;
    color: #5061a8;
    text-transform: uppercase;
}

.head2 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 26px;
    font-weight: 800;
}

.cont {
    font-family: 'Noto Sans', sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-align: left;
    vertical-align: top;
    padding: auto 20px;
}

.cont ul {
    width: 95%;
}

.linkCont {
    color: #5061a8;
}

.tab2 {
    margin: auto;
    width: 70%;
}

.tab2 th {
    width: 33%;
}

.schedule-table3 {
    width: 70%;
    margin: 120px auto;
}

.para-head {
    font-family: "Josefin Sans", sans-serif;
    font-size: 26px;
    font-weight: 800;
    text-align: center;
    color: #181b30;
    border: 1px solid black;
    height: 100px;
    padding-top: 35px;
    text-transform: uppercase;
    background-color: rgb(192, 198, 224);
}

.actual-table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.actual-table p {
    border: 1px solid black;
    font-family: 'Noto Sans', sans-serif;
    font-size: 22px;
    font-weight: 400;
    height: 500px;
    text-align: center;
    padding: 15px;
    background-color: rgb(192, 198, 224);
}

.form-Email {
    font-family: 'Noto-sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.form-Email p {
    font-family: "Josefin sans", sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #5061a8;
    padding-bottom: 30px;
    text-transform: uppercase;
}

input {
    width: 37%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

textarea {
    width: 37%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

@media only screen and (min-width: 1920px) {
    .nav {
        font-size: 26px;
    }
    .footer {
        font-size: 22px;
    }
    body {
        margin: auto;
    }
    html {
        background-color: white;
    }
    header {
        border-left: rgba(243, 240, 240, 0.7) 1px solid;
        border-right: rgba(243, 240, 240, 0.7) 1px solid;
    }
    .details {
        margin-bottom: 0;
    }
    /* about page css*/
    /* .about-title h1 {
        font-size: 200px;
    } */
    .about-info {
        margin-bottom: 0;
        padding-bottom: 80px;
    }
}

@media only screen and (min-width: 1700px) {
    /* about page css*/
    .about-title h1 {
        font-size: 180px;
    }
}

@media only screen and (max-width: 1584px) {
    .nav {
        font-size: 26px;
    }
    .middle {
        margin-top: 120px;
    }
    /* about page css*/
    .about-title h1 {
        font-size: 160px;
    }
    .mid1 {
        padding-left: 100px;
    }
    .mid2 {
        padding-left: 100px;
    }
}

@media only screen and (max-width: 1475px) {
    .nav a {
        width: 10%;
        padding-left: 4%;
    }
    .button p {
        font-size: 32px;
    }
    .contact-body p {
        font-size: 31px;
    }
    .testi-text {
        right: 25%;
    }
    .med img {
        width: 85%;
    }
    iframe {
        width: 95%;
    }
    .nav {
        font-size: 25px;
    }
    .about-info {
        font-size: 25px;
    }
    .middle {
        margin-top: 160px;
    }
    .dr img {
        width: 650px;
        padding-left: 150px;
    }
    .dr figcaption {
        padding-left: 150px;
    }
    /* about page css*/
    .about-title h1 {
        font-size: 160px;
    }
    /* schedule page css goes here */
    .tab1,
    .tab2,
    .schedule-table3 {
        width: 80%;
    }
}

@media only screen and (max-width: 1395px) {
    .nav a {
        width: 9%;
        padding-left: 3%;
    }
    .button {
        width: 45%;
    }
    .button p {
        font-size: 30px;
    }
    .med img,
    .maps {
        margin-left: 10%;
    }
    .info-med,
    .contact-body {
        margin-right: 50px;
        width: 90%;
    }
    .details,
    .content {
        grid-gap: 50px;
    }
    .testi-text {
        right: 20%;
    }
    .med img {
        width: 90%;
        padding-top: 150px;
        margin-top: 20px;
        height: 600px
    }
    iframe {
        width: 95%;
    }
    .middle {
        margin-top: 170px;
    }
    .info-med {
        padding-left: 25%;
    }
    .right-content {
        padding-right: 25%;
    }
    .testi {
        grid-template-columns: 1fr 3fr;
    }
    .testi-box {
        grid-template-columns: 1fr 5fr 1fr;
        height: 350px;
    }
    .dr img {
        padding-left: 110px;
    }
    .dr figcaption {
        padding-left: 110px;
    }
    /* about page css*/
    .about-title h1 {
        font-size: 145px;
    }
}

@media only screen and (max-width: 1286px) {
    .nav {
        font-size: 24px;
        padding-top: 15px;
    }
    .actual-table p {
        font-size: 24px;
    }
    .tab1 {
        font-size: 24px;
    }
    .head2 {
        font-size: 24px;
    }
    .cont {
        font-size: 21px;
    }
    #il-residents {
        font-size: 24px;
    }
    #io-residents {
        font-size: 24px;
    }
    #terminal {
        font-size: 24px;
    }
    #minors {
        font-size: 24px;
    }
    .about-info {
        font-size: 24px;
    }
    .nav a {
        width: 8%;
        padding-left: 2%;
    }
    .med img,
    .maps {
        margin-left: 6%;
    }
    .med img {
        width: 95%;
        height: 550px;
    }
    .info-med,
    .contact-body {
        margin-right: 30px;
        width: 95%;
    }
    .details,
    .content {
        grid-gap: 30px;
    }
    .testi-text {
        right: 15%;
    }
    header {
        grid-template-columns: 1fr 4fr;
    }
    iframe {
        width: 95%;
    }
    .dr img {
        width: 600px;
    }
    .testi {
        grid-template-columns: 1fr 4fr;
    }
    .testi-box {
        height: 370px;
    }
    /* about page css*/
    .about-title h1 {
        font-size: 135px;
    }
    .mid1 {
        padding-left: 70px;
    }
    .mid2 {
        padding-left: 50px;
    }
}

@media only screen and (max-width:1196px) {
    .nav {
        font-size: 22px;
    }
    .tab1 {
        font-size: 22px;
    }
    .actual-table p {
        font-size: 22px;
    }
    .head2 {
        font-size: 22px;
    }
    .cont {
        font-size: 19px;
    }
    #il-residents {
        font-size: 22px;
    }
    #io-residents {
        font-size: 22px;
    }
    #terminal {
        font-size: 22px;
    }
    #minors {
        font-size: 22px;
    }
    .about-info {
        font-size: 22px;
    }
    .nav a {
        padding-left: 1.8%;
    }
    iframe {
        width: 100%;
    }
    .med img {
        padding-top: 160px;
    }
    .dr img {
        width: 580px;
        padding-left: 80px;
    }
    .dr figcaption {
        padding-left: 80px;
    }
    /* about page css*/
    .about-title h1 {
        font-size: 125px;
    }
    /* schedule page css goes here */
    .tab1,
    .tab2,
    .schedule-table3 {
        width: 90%;
    }
}

@media only screen and (max-width: 1156px) {
    .testi-box {
        height: 385px;
    }
    /* about page css*/
    .about-title h1 {
        font-size: 120px;
    }
}

@media only screen and (max-width: 1124px) {
    .nav {
        font-size: 21px;
    }
    .actual-table p {
        font-size: 21px;
    }
    .tab1 {
        font-size: 21px;
    }
    .head2 {
        font-size: 21px;
    }
    .cont {
        font-size: 18px;
    }
    #il-residents {
        font-size: 21px;
    }
    #io-residents {
        font-size: 21px;
    }
    .about-info {
        font-size: 21px;
    }
    #terminal {
        font-size: 21px;
    }
    #minors {
        font-size: 21px;
    }
    .nav a {
        padding-left: 1.6%;
    }
    .qualify {
        padding: 30px 30px;
    }
    .aboutB {
        padding: 30px 15px;
    }
    .aboutB2 {
        padding: 30px 15px;
    }
    .servicesB {
        padding: 30px 15px;
    }
    .findUs {
        padding: 30px 30px;
    }
    .middle {
        grid-gap: 50px;
        padding: 50px;
    }
    .middle2 {
        grid-gap: 50px;
        padding: 50px;
    }
    /* about page css*/
    .about-title h1 {
        font-size: 120px;
        padding-top: 60px;
    }
}

@media only screen and (max-width: 1084px) {
    .nav {
        font-size: 20px;
    }
    .tab1 {
        font-size: 20px;
    }
    .head2 {
        font-size: 20px;
    }
    .cont {
        font-size: 17px;
    }
    .actual-table p {
        font-size: 20px;
    }
    #terminal {
        font-size: 20px;
    }
    #minors {
        font-size: 20px;
    }
    .about-info {
        font-size: 20px;
    }
    header .right div {
        padding-right: 1%;
    }
    .logo img {
        width: 200%;
    }
    .testi-text {
        right: 10%;
    }
    .info-med p {
        width: 99%;
    }
    .button p {
        padding-left: 0;
        text-align: center;
    }
    .iframe {
        height: 400px;
        width: 105%;
    }
    .details {
        grid-gap: 20px;
    }
    .info-med {
        padding-left: 15%;
    }
    .right-content {
        padding-right: 20%;
    }
    .dr img {
        padding-left: 30px;
        width: 480px;
        top: 100px;
    }
    .dr figcaption {
        padding-left: 30px;
        top: 100px;
    }
    /* about page css*/
    .about-title h1 {
        font-size: 115px;
        padding-top: 50px;
        padding-left: 30px;
    }
    #il-residents {
        font-size: 20px;
    }
    #il-residents h2 {
        font-size: 32px;
    }
    #io-residents {
        font-size: 20px;
    }
    #io-residents h2 {
        font-size: 32px;
    }
    #terminal h2 {
        font-size: 32px;
    }
    #minors h2 {
        font-size: 32px;
    }
}

@media only screen and (max-width: 991px) {
    .dr img {
        padding-left: 20px;
        width: 420px;
        top: 150px;
    }
    .dr figcaption {
        padding-left: 20px;
        top: 150px;
    }
    .info-med {
        padding-left: 10%;
    }
    .right-content {
        padding-right: 10%;
    }
    .hideMob1 {
        display: none;
    }
    .maps {
        margin: auto;
    }
    .contact-body {
        margin: auto;
    }
    /* about page css*/
    .about-title h1 {
        font-size: 110px;
        padding-top: 40px;
        padding-left: 20px;
    }
    /* schedule page css goes here */
    .tab1,
    .tab2,
    .schedule-table3 {
        width: 95%;
    }
    input {
        width: 50%;
    }
    textarea {
        width: 50%;
    }
}

@media only screen and (max-width: 903px) {
    .logo img {
        width: 349px;
    }
    .nav {
        display: none;
    }
    header {
        height: 184px;
    }
    .details,
    .content,
    .testi {
        grid-template-columns: 1fr;
    }
    .title {
        width: 500px;
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(12px);
        padding: 320px 50px 286px;
    }
    body {
        text-align: center;
    }
    .info-med {
        border-right: none;
        text-align: center;
        padding: 0 40px;
        margin: auto;
    }
    .info-med h2 {
        text-align: center;
    }
    .right-content {
        text-align: center;
        padding: 0 40px;
        margin: auto;
    }
    .right-content h2 {
        text-align: center;
    }
    .right-content p {
        padding-left: 40px;
    }
    .dr img {
        width: 90%;
        top: 0;
        padding-left: 0;
    }
    .dr figcaption {
        top: 0;
        margin-bottom: 70px;
        padding-left: 0;
    }
    .middle {
        grid-template-columns: 1fr 1fr;
    }
    .middle2 {
        grid-template-columns: 1fr 1fr;
    }
    .hideMob {
        display: none;
    }
    .mobOnly {
        display: inline;
    }
    .footNav {
        grid-template-columns: 1fr;
        padding-bottom: 30px;
    }
    .info {
        width: 80%;
        margin: auto;
        grid-template-columns: 1fr;
    }
    .copyright {
        text-align: center;
    }
    .nav {
        display: none;
    }
    .topnav {
        display: block;
    }
    .topnav #myLinks {
        display: none;
    }
    /* Style navigation menu links */
    .topnav a {
        color: black;
        background-color: white;
        padding: 25px 16px 0;
        font-family: "Noto sans", sans-serif;
        font-size: 18px;
        display: block;
        text-decoration: none;
        text-align: center;
        height: 80px;
        z-index: 9;
        /* padding-top: 20px; */
    }
    /* Style the hamburger menu */
    .topnav a.icon {
        background-color: white;
        color: #5061a8;
        display: flex;
        margin: auto;
        height: 60px;
        padding-top: 20px;
        font-size: 23px;
        z-index: 9;
    }
    /* .topnav a.icon:hover {
        background-color: rgb(238, 238, 238);
    } */
    /* .topnav a:hover {
        background-color: rgb(238, 238, 238);
    } */
    .active {
        background-color: #04AA6D;
        color: white;
    }
    header {
        grid-template-columns: 1fr;
    }
    header .logo img {
        padding-left: 0;
        text-align: center;
        margin: auto;
    }
    /* about page css */
    .about-title {
        grid-template-columns: 1fr;
        grid-gap: 50px;
    }
    .about-title h1 {
        text-align: center;
        font-size: 150px;
        padding-left: 0;
        margin-left: 0;
    }
    .list-ill {
        margin-top: 40px;
        grid-template-columns: 1fr 1fr;
        text-align: left;
    }
    .list-ill ul {
        margin: 0;
    }
    .list-ill1 {
        margin-top: 40px;
        /* grid-template-columns: 1fr 1fr; */
        text-align: left;
    }
    .list-ill1 ul {
        margin: 0;
    }
    .mid1 {
        padding-left: 60px;
    }
    .mid2 {
        padding-left: 40px;
    }
    .schedule-main {
        padding-left: 20px;
        padding-right: 20px;
    }
    .actual-table {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 710px) {
    .title {
        right: 10%;
        width: 80%;
        padding-top: 345px;
        padding-bottom: 325px;
    }
    /* schedule page css goes here */
    .tab1,
    .tab2,
    .schedule-table3 {
        width: 100%;
    }
    input {
        width: 60%;
    }
    textarea {
        width: 60%;
    }
    .cont ul {
        width: 98%;
        list-style: none;
        padding-left: 5px;
    }
}

@media only screen and (max-width: 633px) {
    .title {
        padding-top: 322px;
        padding-bottom: 285px;
    }
}

@media only screen and (max-width: 550px) {
    .title {
        right: 0;
        width: 100%;
        padding: 380px 10px 316px;
        font-size: 54px;
    }
    .middle {
        grid-template-columns: 1fr;
        margin-top: 250px;
    }
    .middle2 {
        grid-template-columns: 1fr;
    }
    .maps {
        width: 90%;
    }
    .contact-body h1 {
        font-size: 40px;
    }
    .contact-body p {
        font-size: 24px;
    }
    .logo img {
        width: 320px;
    }
    /* about page css */
    .about-title h1 {
        font-size: 130px;
    }
    .about-info p {
        font-size: 26px;
    }
    .aboutB2 p {
        top: 45px;
    }
    .aboutB2 hr {
        top: 45px;
    }
    .list-ill {
        grid-template-columns: 1fr;
        text-align: left;
    }
    #il-residents {
        font-size: 18px;
        padding-left: 30px;
        padding-right: 30px;
    }
    #il-residents h2 {
        font-size: 28px;
    }
    #io-residents {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 18px;
    }
    #io-residents h2 {
        font-size: 28px;
    }
    .list-ill1 {
        grid-template-columns: 1fr;
        text-align: left;
    }
    #terminal {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 18px;
    }
    #terminal h2 {
        font-size: 28px;
    }
    .term {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
    .term p {
        width: 100%;
    }
    #minors {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 18px;
    }
    #minors h2 {
        font-size: 28px;
    }
    .mid1 {
        padding-left: 40px;
    }
    .tab1 {
        font-size: 18px;
    }
    .head2 {
        font-size: 18px;
    }
    .cont {
        font-size: 15px;
    }
    .actual-table p {
        font-size: 18px;
    }
    input {
        width: 80%;
    }
    textarea {
        width: 80%;
    }
}

@media only screen and (max-width: 415px) {
    .middle {
        margin-top: 340px;
    }
    .contact-body h1 {
        font-size: 35px;
    }
    .contact-body p {
        font-size: 20px;
    }
    .no-box {
        width: 100%;
        font-family: "Noto sans", sans-serif;
        font-size: 22px;
        font-weight: 400;
        margin: auto;
    }
    /* about page css */
    .about-title h1 {
        font-size: 110px;
    }
}

@media only screen and (max-width: 363px) {
    .title {
        padding-top: 330px;
        padding-bottom: 309px;
    }
}

@media only screen and (max-width: 334px) {
    .middle {
        margin-top: 400px;
    }
    .contact-body h1 {
        font-size: 31px;
    }
    .contact-body p {
        font-size: 18px;
    }
    .logo img {
        width: 300px;
        height: 160px;
    }
}